*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(187, 166, 166);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 50px;
}

main{
    width: 100%;
    height: 450px;
    background-color: rgb(187, 166, 166);
}

img{
    width: 30px;
    height: 30px;
}

.dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.red{
    background-color: red;

}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}

/* Helper Classes */
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }

.flex2{
    display: flex;
    justify-content: right;
   
}

.padding{
    padding-left: 100px;
    padding-right: 100px;
}



.links a, li{
    text-decoration: none;
    list-style: none;
    margin: 15px;
}

.copy{
    position: relative;
   
}

nav, footer{
    background-color: black;
    color:silver;
    padding: 10px;
}

   .hide-links{
    overflow: hidden;
    display: inline-flex ;
    
}

.links li:hover{
    background-color:rgb(187, 166, 166) ;
}



@media screen and (max-width:800px) {
   .hide-links{
    height: 0;
    overflow: hidden;
    display: none;
    
}


.links ul {
    display: block;
    width: 100%;
}

/* .button{
    width: 50%;
    align-items: left;
} */

.padding{
    padding-left: 20px;
    padding-right: 20px;
}


nav, footer{
    
    padding: 2px;
}
.logo{
    width: 50%;
}

}

@media screen and (min-width:800px){
    .button{
        display: none;
        height: 0;
        overflow: hidden;
    }



}
